@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* s temp driss */
/* #back-to-top,
footer,
main
  > *:not(.hero):not(.category-section):not(.best-prds):not(.img-cats):not(.comp-sld):not(.brand-gallery):not(.faq):not(.timeline):not(.blog):not(.spotlight) {
  display: none !important;
} */
/* e temp driss */

/* Temp */
html::-webkit-scrollbar {
  display: none;
}
/* Temp */

/* Global Styles */
:root {
  --baby_green: #65c4bc;
  --pink: #ff6f96;
  --dark_baby_green: #58b4ac;
  --light_pink: #ff8dac;
  --bleu_c: #e4f1f0;
  --dark-gray: #444444;
  --white_bg: #f8f8f8;
  --light-cayan-text: #93a7b4;
  --transition-default: all 0.4s ease;
  --transition-default-slow: all 0.8s ease;
  --transition-duration-default: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white_bg, #f8f8f8);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  margin-top: 92px;
}

.section__subtitle {
  font-family: Nunito;
  font-weight: 700;
  font-size: 33px;
  text-transform: uppercase;
  color: var(--pink);
}

.section__title {
  font-family: Nunito;
  font-weight: 600;
  font-size: 69px;
  text-transform: lowercase;
  color: var(--dark-gray, #444444);
}

.section__title::first-letter {
  text-transform: uppercase;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

@media (max-width: 1000px) {
  .section__title {
    font-size: 60px;
  }

  .section__subtitle {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .section__title {
    font-size: 50px;
  }

  .section__subtitle {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .section__title {
    font-size: 45px;
  }
  .section__subtitle {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .section__title {
    font-size: 40px;
  }
  .section__subtitle {
    font-size: 20px;
  }
}
/* Pre-header */
.pre-header {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--baby_green, #65c4bc);
  color: white;
  text-transform: capitalize;
}

.pre-header__container {
  max-width: 1187px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  letter-spacing: 0.04px;
}

.pre-header__announcement-text {
  padding: 14px 0;
}

.pre-header__language-selector {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.pre-header__language-selector__current-language {
  display: flex;
  column-gap: 3px;
}

.pre-header__language-selector__current-language svg {
  transition: var(--transition-duration-default) ease transform;
}

.pre-header__language-selector:hover svg,
.pre-header__language-selector--active svg {
  transform: rotate(-180deg);
}

.pre-header__language-selector:hover .pre-header__language-selector__dropdown,
.pre-header__language-selector--active .pre-header__language-selector__dropdown {
  max-height: 600px;
  opacity: 1;
  pointer-events: all;
}

.pre-header__language-selector__dropdown {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 0 17px;
  background-color: #e9f8f6;
  display: flex;
  row-gap: 17px;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 1px 1px 20px 0px #0000001a;
  transform: translateX(-50%);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  max-height: 0px;
  transition: var(--transition-default);
  z-index: 11;
}

.pre-header__language-selector__dropdown li:first-child {
  padding-top: 26px;
}

.pre-header__language-selector__dropdown li:last-child {
  padding-bottom: 26px;
}

.pre-header__language-selector__dropdown li {
  text-align: center;
}

.pre-header__language-selector__dropdown li a {
  color: var(--dark-gray, #444444);
  transition: var(--transition-default);
  text-underline-offset: 3px;
}

.pre-header__language-selector__dropdown li a:hover,
.pre-header__language-selector__dropdown li a.active,
.pre-header__language-selector__dropdown li a:active {
  color: var(--pink, #ff6f96);
  text-decoration: underline;
}

@media (max-width: 1225px) {
  .pre-header {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .pre-header__language-selector {
    display: none;
  }
  .pre-header {
    font-size: small;
  }
}

/* Header */
.header {
  background-color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-gray, #444444);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__container {
  max-width: 1189px;
  margin: auto;
  display: flex;
  align-items: center;
}

.header__nav,
.header__logo,
.header__icons {
  flex: 1;
}

.header__nav__list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__menu-hamburger {
  display: none;
}

.header__menu-hamburger__img {
  transition: var(--transition-default);
  cursor: pointer;
}

.header__menu-hamburger__img:hover {
  transform: scaleY(1.3);
}

.header__nav__list__item {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.header__nav__list__item a {
  white-space: nowrap;
  display: block;

  padding: 4px 10px;
}

.header__nav__list__item,
.header__nav__list__item a,
.header__nav__list__item::before,
.header__nav__list__item svg,
.header__nav__list__item svg path {
  transition: var(--transition-default);
}

.header__nav__list__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--pink, #ff6f96);
  left: 0;
  top: 0;
  z-index: 0;
}

.header__nav__list__item a {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.header__nav__list__item a span {
  letter-spacing: 1px;
}

.header__nav__list__item:hover::before,
.header__nav__list__item--active::before {
  width: 100%;
}

.header__nav__list__item--active:hover::before {
  width: 0;
}

.header__nav__list__item:hover a,
.header__nav__list__item--active a {
  color: #ffffff;
}

.header__nav__list__item--active:hover a {
  color: var(--dark-gray, #444444);
}

.header__nav__list__item:hover svg {
  transform: rotate(-180deg);
}

.header__nav__list__item:hover svg path {
  fill: #ffffff;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px 0;
}

.header__logo img {
  width: 196px;
  transition: var(--transition-default);
}

.header__icons__list {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

.header__icons__counter::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--pink, #ff6f96);
  z-index: -1;
}

.header__icons__list__item {
  position: relative;
}
.header__icons__list__item {
  transition: var(--transition-default);
}

.header__icons__list__item:hover {
  transform: translateY(-4px);
}

.header__icons__counter {
  position: absolute;
  right: 3px;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
  font-family: Inter;
  font-weight: 700;
  font-size: 6px;
}

@media (max-width: 1225px) {
  .header {
    padding: 0 20px;
  }
}

@media (max-width: 880px) {
  .header {
    font-size: 12px;
  }
  .header__logo img {
    width: 150px;
  }
}

@media (max-width: 700px) {
  .header__nav__list {
    display: none;
  }

  .header__menu-hamburger {
    display: inline;
  }

  .header__icons__list {
    gap: 8px;
  }

  .header__icon-search,
  .header__icon-wishlist {
    display: none;
  }
  .header__logo {
    margin: 10px 0;
  }
}

@media (max-width: 375px) {
  .header__logo img {
    width: 140px;
  }
}
/* main */

/* Hero Section */
.hero {
  height: 777px;
  position: relative;
  margin-top: 0;
}

.hero__swiper__slide__content {
  top: 28%;
  position: absolute;
  max-width: 1195px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transform: translateX(-50%);
  left: 50%;
}

.hero__swiper__slide,
.hero__swiper__wrapper,
.hero__swiper {
  height: 100%;
}

.hero__swiper__wrapper {
  position: relative;
}

.hero__swiper__slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero__swiper__slide__content h1,
.hero__swiper__slide__content h2 {
  font-family: Nunito;
  font-weight: 600;
  font-size: 69px;
  line-height: 76px;
  max-width: 570px;
  margin-top: 19px;
  letter-spacing: -0.1px;
  color: #313131;
}

.hero__swiper__slide__content p {
  font-family: Inter;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 0.6px;
  color: var(--dark-gray, #444444);
}

.hero__swiper__slide__content a.btn {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background-color: var(--pink);
  padding: 20px 41px;
  border-radius: 16px;
  margin-top: 45px;
  letter-spacing: 0.4px;
  transition: var(--transition-default);
}

.hero__swiper__slide__content a.btn:hover {
  background-color: var(--light_pink, #ff8dac);
  transform: translateY(-4px);
}

.hero__swiper__pagination {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
  max-width: 1189px;
  margin: auto;
  justify-content: flex-end;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 8.5%;
}

.hero__swiper__pagination.hero__swiper__pagination .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.hero__swiper__pagination.hero__swiper__pagination .swiper-pagination-bullet-active {
  background-color: var(--baby_green, #65c4bc);
}

.hero__swiper__pagination.hero__swiper__pagination .swiper-pagination-bullet {
  transition: var(--transition-default);
}

.hero__swiper__pagination.hero__swiper__pagination .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 43px;
  border: 1px solid var(--dark_baby_green);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__swiper__pagination.hero__swiper__pagination .swiper-pagination-bullet-active::after {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: var(--baby_green, #65c4bc);
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  opacity: 1;
  z-index: 1;
}

@media (max-width: 1225px) {
  .hero__swiper__slide__content {
    padding: 0 20px;
  }

  .hero__swiper__pagination {
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .hero__swiper__slide__content h1,
  .hero__swiper__slide__content h2 {
    font-size: 60px;
  }

  .hero__swiper__slide__content p {
    font-size: 20px;
  }

  .hero__swiper__slide__content a.btn {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .hero__swiper__pagination {
    margin-right: 0;
    justify-content: center;
  }

  .hero__swiper__pagination.hero__swiper__pagination .swiper-pagination-bullet,
  .hero__swiper__pagination.hero__swiper__pagination .swiper-pagination-bullet-active::after {
    width: 15px;
    height: 15px;
  }

  .hero__swiper__pagination.hero__swiper__pagination .swiper-pagination-bullet-active::before {
    width: 35px;
    height: 35px;
  }

  .hero__swiper__slide__content h1,
  .hero__swiper__slide__content h2 {
    font-size: 45px;
    line-height: 60px;
  }

  .hero__swiper__slide__content a.btn {
    margin-top: 35px;
    padding: 15px 30px;
    font-size: 15px;
  }
}

/* Top Category section */
.category-section .category-section__container {
  max-width: 1182px;
  margin: auto;
}

.category-section__content {
  margin-top: 33px;
}

.category-section .category-list__item img {
  transition: var(--transition-default);
}

.category-section .category-list__item:hover img {
  transform: scale(1.2);
}

.category-section .category-list__item {
  width: 285px;
  min-width: 285px;
  max-width: 285px;
}
.category-section .category-list__item .category-card__top {
  height: 313px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.category-section .category-list__item .category-card__top img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.category-section .category-list__item .category-card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.category-section .category-list__item .category-card__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 34px;
  color: var(--dark_baby_green, #58b4ac);
  text-transform: capitalize;
}

.category-section .category-section__swiper {
  position: relative;
}

.category-section .category-section__navigation {
  display: flex;
  gap: 10px;
  align-items: center;
}
.category-section .category-section__navigation .category-section__button-prev {
  transform: rotate(180deg);
}

.category-section .category-section__navigation .category-section__button-prev,
.category-section .category-section__navigation .category-section__button-next {
  height: 40px;
  width: 40px;
  background-color: var(--dark_baby_green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity ease var(--transition-duration-default);
}

.category-section .category-section__navigation .category-section__button-prev:hover,
.category-section .category-section__navigation .category-section__button-next:hover {
  opacity: 0.7;
}

.category-section .section__custom-title {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1225px) {
  .category-section {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .category-section .category-section__navigation {
    display: none;
  }
}

@media (max-width: 325px) {
  .category-section .category-list__item {
    min-width: 250px;
    max-width: 250px;
  }
}

/* Popular products <=> (best-prds)  */
.best-prds__container {
  max-width: 1188px;
  margin: auto;
  position: relative;
}

.best-prds .best-prds__img-back {
  position: absolute;
  -webkit-user-drag: none;
  user-select: none;
  z-index: -1;
}

.best-prds .best-prds__img-back.img-1 {
  width: 88px;
  bottom: 2%;
  left: 22%;
  transform: rotate(24.82deg);
}

.best-prds .best-prds__img-back.img-2 {
  width: 79px;
  top: 2%;
  right: 17%;
  transform: rotate(-32.66deg);
}

.best-prds .best-prds__img-back.img-3 {
  width: 68px;
  bottom: 8%;
  right: 23%;
  transform: rotate(-30.35deg);
}

.prds-list__item:last-child .prds-card__top:after {
  content: "";
  background: url("/assets/img/baby.png");
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 88px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(45deg) translate(-10px, -30px);
  transition: var(--transition-default);
  transition-delay: 0.5s;
}

.best-prds .best-prds__content {
  margin-top: 30px;
}

.best-prds .best-prds__content .prds-list {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 22px;
  overflow: scroll;
}

.best-prds .best-prds__content .prds-list::-webkit-scrollbar {
  display: none;
}

.best-prds .best-prds__content .prds-list .prds-list__item .prds-card .prds-card__top {
  background-color: var(--bleu_c);
  width: 280px;
  height: 326px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 16px;
  position: relative;
}

.best-prds .best-prds__content .prds-list .prds-list__item .prds-card .prds-card__top .prds-car__flag {
  position: absolute;
  top: 17px;
  left: 19px;
  padding: 0px 8px;
  text-transform: capitalize;
  color: var(--dark-gray);
  font-family: Nunito;
  font-weight: 900;
  font-size: 20px;
}

.best-prds .prds-card .prds-card__top .prds-car__flag.flag-sold {
  background-color: #f8c820;
}

.best-prds .prds-card .prds-card__top .prds-car__flag.flag-sale {
  background-color: var(--baby_green);
}

.best-prds .prds-card .prds-card__top .prds-car__flag.flag-new {
  background-color: var(--pink);
}

.best-prds .best-prds__content .prds-list .prds-list__item .prds-card .prds-card__top .prds-card__image {
  transition: var(--transition-default);
}

.best-prds .best-prds__content .prds-list .prds-list__item:hover .prds-card__image {
  transform: scale(1.2);
}

.best-prds .best-prds__content .prds-list .prds-list__item:hover .prds-card__image {
}

.prds-list__item:last-child:hover .prds-card__top:after {
  transform: rotate(45deg) translate(-10px, -100px);
}

.best-prds .best-prds__content .prds-list .prds-list__item .prds-card .prds-card__top .prds-card__image {
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.best-prds .best-prds__content .prds-list .prds-list__item .prds-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.best-prds .best-prds__content .prds-list .prds-list__item .prds-card .prds-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.best-prds .best-prds__content .prds-card .prds-card__body .prds-card__title {
  font-family: Nunito;
  font-weight: 800;
  font-size: 28px;
  text-transform: capitalize;
}

.best-prds .best-prds__content .prds-card .prds-card__body .prds-card__colors {
  display: flex;
  column-gap: 7px;
}

.best-prds .best-prds__content .prds-card .prds-card__body .prds-card__colors .prds-card__color {
  width: 28px;
  height: 28px;
  display: block;
  transition: var(--transition-default);
  border-radius: 50%;
}

.best-prds .best-prds__content .prds-card .prds-card__body .prds-card__colors .prds-card__color:hover {
  opacity: 0.7;
}

.best-prds .best-prds__content .prds-card .prds-card__body .prds-card__price {
  font-family: Nunito;
  font-weight: 900;
  font-size: 20px;
  color: var(--pink);
}

.best-prds a.btn {
  width: fit-content;
  margin: auto;
  margin-top: 47px;
  display: block;
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background-color: var(--pink);
  padding: 20px 41px;
  border-radius: 16px;
  letter-spacing: 0.4px;
  transition: var(--transition-default);
}

.best-prds a.btn:hover {
  background-color: var(--light_pink, #ff8dac);
  transform: translateY(-4px);
}

@media (max-width: 1225px) {
  .best-prds {
    padding: 0 20px;
  }
}

@media (max-width: 1225px) {
  .best-prds .best-prds__content .prds-list {
    gap: 12px;
  }
  .best-prds .best-prds__content .prds-list .prds-list__item .prds-card .prds-card__top {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .best-prds .best-prds__img-back.img-2 {
    top: -1%;
    right: 0%;
  }

  .best-prds .best-prds__img-back.img-3 {
    bottom: 5%;
    right: 2%;
  }

  .best-prds .best-prds__img-back.img-1 {
    left: 0%;
  }
}

@media (max-width: 425px) {
  .best-prds a.btn {
    margin-top: 35px;
    padding: 15px 30px;
    font-size: 20px;
  }
}

/* Image and Categories <=> (img-cats) */
.img-cats .img-cats__container {
  max-width: 1192px;
  margin: auto;
}

.img-cats__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  margin-top: 41px;
}

.img-cats__content .img-cats__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 20px;
  height: 100%;
}

.img-cats__content .img-cats__img {
  position: relative;
}

.img-cats__img__background {
  width: 100%;
  height: 100%;
}

.img-cats__content .img-cats__img .img-cats__img__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 78%;
}

.img-cats__content .img-cats__img .img-cats__img__content .img-cats__img__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  color: var(--dark_baby_green, #58b4ac);
  line-height: 87px;
}

.img-cats__content .img-cats__img .img-cats__img__content p {
  font-family: Nunito;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--dark_green, #444444);
}

.img-cats__content .img-cats__img .img-cats__img__content img {
  width: 60.5%;
}

.img-cats .img-cats__cats .img-cats__list .img-cats__list__item {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 2px 2px 2px 0px #00000040;
  padding: 16px 5px 5px 16px;
}

.img-cats .img-cats__cats .img-cats__list .img-cats__list__item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 263px;
}

.img-cats .img-cats__cats .img-cats__list__item__title {
  font-family: Nunito;
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  transition: var(--transition-default);
}
.img-cats .img-cats__cats .img-cats__list__item:nth-child(1) .img-cats__list__item__title {
  color: var(--pink, #ff8dac);
}

.img-cats .img-cats__cats .img-cats__list__item:nth-child(2) .img-cats__list__item__title {
  color: #fbe53e;
}

.img-cats .img-cats__cats .img-cats__list__item:nth-child(3) .img-cats__list__item__title {
  color: var(--pink, #ff8dac);
}

.img-cats .img-cats__cats .img-cats__list__item:nth-child(4) .img-cats__list__item__title {
  color: var(--baby_green, #65c4bc);
}

.img-cats .img-cats__cats .img-cats__list__item__img {
  display: flex;
  justify-content: end;
  transition: var(--transition-default);
}

.img-cats .img-cats__cats .img-cats__list__item__img img {
  height: 180px;
  object-fit: contain;
}

.img-cats .img-cats__cats .img-cats__list .img-cats__list__item:hover .img-cats__list__item__title {
  margin-left: 10px;
}

.img-cats .img-cats__cats .img-cats__list .img-cats__list__item:hover .img-cats__list__item__img {
  transform: translateX(-10px);
}

@media (max-width: 1225px) {
  .img-cats {
    padding: 0 20px;
  }

  .img-cats .img-cats__cats .img-cats__list .img-cats__list__item a {
    height: 100%;
  }

  .img-cats .img-cats__cats .img-cats__list .img-cats__list__item {
    height: 235px;
  }

  .img-cats__content .img-cats__list {
    gap: 16px;
  }
}

@media (max-width: 1024px) {
  .img-cats__content .img-cats__img .img-cats__img__content .img-cats__img__title {
    font-size: 35px;
  }

  .img-cats__content .img-cats__img .img-cats__img__content p {
    font-size: 26px;
  }

  .img-cats .img-cats__cats .img-cats__list__item__img img {
    height: 150px;
  }
}

@media (max-width: 900px) {
  .img-cats__content .img-cats__img .img-cats__img__content .img-cats__img__title {
    font-size: 25px;
  }

  .img-cats__content .img-cats__img .img-cats__img__content p {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .img-cats__content {
    grid-template-columns: 1fr;
  }

  .img-cats__content .img-cats__list {
    gap: 8px;
  }
}

@media (max-width: 540px) {
  .img-cats__content .img-cats__img .img-cats__img__content .img-cats__img__title {
    line-height: 50px;
  }
}

@media (max-width: 425px) {
  .img-cats .img-cats__cats .img-cats__list__item__title {
    font-size: 18px;
  }

  .img-cats .img-cats__cats .img-cats__list .img-cats__list__item {
    height: auto;
  }
}

@media (max-width: 375px) {
  .img-cats__content .img-cats__img .img-cats__img__content .img-cats__img__title {
    font-size: 22px;
  }

  .img-cats__content .img-cats__img .img-cats__img__content p {
    font-size: 16px;
  }

  .img-cats .img-cats__cats .img-cats__list__item__img img {
    height: 121px;
  }
}

/* Image Comparison Slider <=> (comp-sld) */
.comp-sld {
  margin-top: 73px;
}

.comp-sld__container {
  max-width: 1197px;
  margin: auto;
}

.comp-sld__content {
  margin: 30px 23px 0;
  height: 802px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

.comp-sld img {
  -webkit-user-drag: none;
  user-select: none;
}

.comp-sld__handle {
  position: absolute;
  border: 3px solid var(--white_bg, #f8f8f8);
  z-index: 1;
  height: 100%;
  left: 18.2%;
  cursor: e-resize;
}

.comp-sld__item--after {
  clip-path: inset(0 0 0 18.2%);
  -webkit-user-drag: none;
}

.comp-sld__handle::before {
  content: url("../icon/comparison-slider.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-duration-default) transform ease-in-out;
}

.comp-sld__handle:hover::before {
  transform: translate(-50%, -50%) scale(1.2);
}

.comp-sld__item {
  position: absolute;
  width: 100%;
  height: 100%;
}

.comp-sld__item__content {
  position: relative;
  height: 100%;
}

.comp-sld__label {
  position: absolute;
  font-family: Nunito;
  font-weight: 500;
  font-size: 64px;
  line-height: 63px;
  bottom: 15%;
  color: #ffffff;
  transform: rotate(-90deg);
}

.comp-sld__label--before {
  left: 0;
}

.comp-sld__label--after {
  right: 2%;
}

.comp-sld__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

@media (max-width: 1225px) {
  .comp-sld {
    padding: 0 20px;
  }

  .comp-sld__content {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .comp-sld__label {
    font-size: 50px;
  }
}

@media (max-width: 425px) {
  .comp-sld__label {
    font-size: 40px;
  }
}
/* Brand Gallery */
.brand-gallery {
  margin-top: 91px;
}

.brand-gallery__container {
  max-width: 1192px;
  margin: auto;
}

.brand-gallery__content {
  margin-top: 36px;
}

.brand-gallery__list {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  overflow: scroll;
}

.brand-gallery__list::-webkit-scrollbar {
  display: none;
}

.brand-gallery__list__item {
  width: 250px;
  min-width: 250px;
  height: 312px;
  overflow: hidden;
}

.brand-gallery__list__item:hover img {
  transform: scale(1.2);
}

.brand-gallery__list__item__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: var(--transition-default);
}

@media (max-width: 1225px) {
  .brand-gallery {
    padding: 0 20px;
  }
}

/* Frequently Asked Questions <=> (faq) */
.faq {
  margin-top: 67px;
}

.faq__container {
  max-width: 1192px;
  margin: auto;
}

.faq__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin-top: 35px;
}

.faq__image {
  width: 100%;
  height: 601px;
  border-radius: 10px;
  overflow: hidden;
}

.faq__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 85%;
}

.faq__questions {
  background-color: #ffffff;
  padding: 18px;
  border-radius: 10px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.faq__list .faq__item {
  background-color: var(--white_bg, #f8f8f8);
  padding: 20px 35px 0;
  border-radius: 10px;
  transition: var(--transition-default);
  cursor: pointer;
}

.faq__list .faq__item:hover {
  background-color: #ececec;
}

.faq__list .faq__item__question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.faq__list .faq__item__question-text {
  font-family: Nunito;
  font-weight: 500;
  font-size: 19px;
  color: var(--dark-gray, #444444);
}

.faq__list .faq__item__answer {
  transition: var(--transition-duration-default) all ease-in-out;
  max-height: 0;
  overflow: hidden;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  color: #7d93a1;
  opacity: 0;
}

.faq__item__question-icon {
  transition: var(--transition-default);
}

.faq__list .faq__item.faq__item--active .faq__item__question-icon {
  transform: rotate(90deg);
}

.faq__list .faq__item.faq__item--active .faq__item__answer {
  max-height: 1000px;
  margin-bottom: 20px;
  opacity: 1;
}

@media (max-width: 1225px) {
  .faq {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .faq__content {
    grid-template-columns: 1fr;
  }

  .faq__image {
    display: none;
  }

  .faq__list .faq__item {
    padding: 10px 15px 0;
  }
  .faq__list .faq__item__question {
    margin-bottom: 10px;
  }
  .faq__questions {
    padding: 12px;
  }
}

@media (max-width: 425px) {
  .faq__questions {
    padding: 6px;
  }

  .faq__list .faq__item__question-text {
    font-size: 16px;
  }

  .faq__list .faq__item__answer {
    font-size: 12px;
  }
}
/*  Timeline Section  */
.timeline {
  background-color: #ffffff;
  padding: 100px 0;
  margin-top: 70px;
}

.timeline__container {
  max-width: 1196px;
  margin: auto;
}

.timeline__content {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 92px;
  row-gap: 30px;
}

.timeline__list {
  overflow: hidden;
  position: relative;
  height: 720px;
}

.timeline__item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--transition-default);
}

.timeline__item--active {
  position: static;
  opacity: 1;
}

.timeline__item__image {
  width: 100%;
  height: 538px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

.timeline__item__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000059;
}

.timeline__item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.timeline__item__image__overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 1;
  row-gap: 14px;
}

.timeline__item__image__overlay__img {
  height: 105px;
  object-fit: contain;
}

.timeline__item__image__overlay__date {
  font-family: Nunito;
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  color: #ffffff;
}

.timeline__item__header {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.timeline__item__header__title {
  font-family: Nunito;
  font-weight: 600;
  font-size: 69px;
  text-transform: lowercase;
  line-height: 60px;
}

.timeline__item__header__title::first-letter {
  text-transform: uppercase;
}

.timeline__item__header__description {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
}

.timeline__years {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeline__years__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.timeline__years__item {
  font-family: Nunito;
  font-weight: 400;
  font-size: 44px;
  cursor: pointer;
  transition: var(--transition-default);
  line-height: 60px;
  width: 130px;
  text-align: center;
}

.timeline__years__item--active,
.timeline__years__item:hover {
  font-weight: 800;
  font-size: 54px;
  color: var(--baby_green, #65c4bc);
}

.timeline__years__prev,
.timeline__years__next {
  text-align: center;
  background: var(--baby_green, #65c4bc);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: var(--transition-default);
}

.timeline__years__prev:hover,
.timeline__years__next:hover {
  opacity: 0.7;
}

.timeline__years__prev img,
.timeline__years__next img {
  filter: brightness(0) invert(1);
  width: 21px;
  height: 21px;
}

.timeline__years__prev img {
  transform: rotate(-90deg);
}

.timeline__years__next img {
  transform: rotate(90deg);
}

@media (max-width: 1225px) {
  .timeline {
    padding: 100px 20px;
  }
}

@media (max-width: 1025px) {
  .timeline__item__image__overlay__img {
    height: 90px;
  }
}

@media (max-width: 769px) {
  .timeline__content {
    grid-template-columns: 1fr;
  }

  .timeline__years__list {
    flex-direction: row;
    column-gap: 10px;
  }

  .timeline__years__item {
    width: auto;
    font-size: 30px;
  }

  .timeline__years__item--active,
  .timeline__years__item:hover {
    font-size: 40px;
  }

  .timeline__years {
    flex-direction: row;
  }

  .timeline__years__prev,
  .timeline__years__next {
    margin: auto 0;
    width: 50px;
    height: 50px;
  }

  .timeline__years__next img {
    transform: none;
  }

  .timeline__years__prev img {
    transform: rotate(180deg);
  }

  .timeline__item__header__title {
    font-size: 50px;
  }

  .timeline__item__image__overlay__img {
    height: 80px;
  }
  .timeline__item__image__overlay__date {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .timeline__years__item,
  .timeline__years__item--active,
  .timeline__years__item:hover {
    font-size: 22px;
  }
  .timeline__years__prev,
  .timeline__years__next {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 426px) {
  .timeline__years__item,
  .timeline__years__item--active,
  .timeline__years__item:hover {
    font-size: 18px;
  }
  .timeline__years__prev,
  .timeline__years__next {
    width: 35px;
    height: 35px;
  }
  .timeline__item__header__title {
    font-size: 45px;
  }
  .timeline__content {
    row-gap: 10px;
  }
  .timeline__item__header__description {
    font-size: 12px;
  }
  .timeline__item__image__overlay__img {
    height: 50px;
  }
  .timeline__item__image__overlay__date {
    font-size: 35px;
  }
}

@media (max-width: 376px) {
  .timeline__years__item,
  .timeline__years__item--active,
  .timeline__years__item:hover {
    font-size: 16px;
  }

  .timeline__years__prev,
  .timeline__years__next {
    width: 30px;
    height: 30px;
  }

  .timeline__item__image__overlay__img {
    height: 45px;
  }

  .timeline__item__image__overlay__date {
    font-size: 30px;
  }
}

@media (max-width: 321px) {
  .timeline__years__item,
  .timeline__years__item--active,
  .timeline__years__item:hover {
    font-size: 12px;
  }

  .timeline__years__prev,
  .timeline__years__next {
    width: 20px;
    height: 20px;
  }

  .timeline__years__prev img,
  .timeline__years__next img {
    width: 16px;
    height: 16px;
  }

  .timeline__item__header__title {
    font-size: 40px;
  }

  .timeline__item__image__overlay__img {
    height: 40px;
  }

  .timeline__item__image__overlay__date {
    font-size: 25px;
  }
}

/* Blog Section */
.blog {
  margin-top: 68px;
}

.blog__container {
  max-width: 1197px;
  margin: auto;
}

.blog__content {
  margin-top: 46px;
}

.blog__list {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.blog__article__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 33px;
  text-transform: capitalize;
  color: var(--pink, #ff6f96);
}

.blog__article__description {
  font-family: Inter;
  font-weight: 400;
  font-size: 19px;
  text-transform: capitalize;
  color: var(--dark_green, #444444);
  max-width: 80%;
}

.blog__article__image {
  height: 249px;
  border-radius: 9px;
  overflow: hidden;
}

.blog__article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-default);
}

.blog__list__item:hover .blog__article__img {
  transform: scale(1.2);
}

.blog__list__item__article {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.blog__article__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media (max-width: 1225px) {
  .blog {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .blog__list {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 426px) {
  .blog__article__title {
    font-size: 30px;
  }

  .blog__article__description {
    font-size: 16px;
  }
}

@media (max-width: 426px) {
  .blog__article__title {
    font-size: 25px;
  }

  .blog__article__description {
    font-size: 12px;
  }
}

/* Spotlight */
.spotlight {
  margin-top: 108px;
}

.spotlight__container {
  max-width: 1197px;
  margin: auto;
}

.spotlight__content {
  margin: 30px 23px 0;
  height: 591px;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* Temp */
  /* overflow: hidden;
  border-radius: 20px; */
}

.spotlight__list {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.spotlight__item {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.spotlight__item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spotlight__product {
  position: absolute;
}

.spotlight__product__icon {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: radial-gradient(var(--light-cayan-text, #93a7b4) 30%, #ffffffb2 30%);
  transition: var(--transition-default);
}

.spotlight__product__card {
  background-color: #ffffff;
  border-radius: 4px;
  transition: var(--transition-default);
  transition-duration: 1s;
  z-index: 1;
  position: absolute;
  transform: translate(5%, -105%);
  max-height: 0;
  overflow: hidden;
  max-width: 0;
}

.spotlight__product__card > * {
  margin: 0 10px;
}

.spotlight__product__icon:hover + .spotlight__product__card,
.spotlight__product__card:hover {
  max-height: 1000px;
  max-width: 1000px;
}

.spotlight__product:hover .spotlight__product__icon {
  opacity: 0.7;
}

.spotlight__product__card__title {
  font-family: Outfit;
  font-weight: 500;
  font-size: 14px;
  text-transform: lowercase;
  margin-top: 10px;
  white-space: nowrap;
}

.spotlight__product__card__body {
  display: flex;
  justify-content: space-between;
  column-gap: 102px;
  margin-bottom: 10px;
}

.spotlight__product__card__variant {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 10px;
  color: var(--light-cayan-text, #93a7b4);
}

.spotlight__product__card__price {
  font-family: DM Sans;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.spotlight__product__card__price__old {
  font-weight: 400;
  font-size: 10px;
  text-decoration: line-through;
  color: var(--light-cayan-text, #93a7b4);
}

.spotlight__product__card__price__current {
  font-weight: 500;
  font-size: 14px;
}

.spotlight__product__card__body__show-product a {
  padding: 5px 3px;
  background: var(--baby_green, #65c4bc);
  border-radius: 4px;
  transition: var(--transition-default);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight__product__card__body__show-product a:hover {
  opacity: 0.7;
  transform: translateX(4px);
}

@media (max-width: 1225px) {
  .spotlight {
    padding: 0 20px;
  }

  .spotlight__content {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 769px) {
  .spotlight__list {
    overflow: scroll;
  }

  .spotlight__list::-webkit-scrollbar {
    display: none;
  }

  .spotlight__item {
    min-width: 100%;
  }

  .spotlight__content {
    height: auto;
  }
}

/* Instagram */
.instagram__container {
  max-width: 1197px;
  margin: auto;
}

.instagram__content {
  display: flex;
  height: 196px;
  margin: 71px 23px 0;
}

.instagram__image {
  height: 100%;
  flex: 1;
}

.instagram__image:nth-child(4) {
  position: relative;
}

.instagram__image:nth-child(4)::after {
  content: url("/assets/icon/instagram.svg");
  position: absolute;
  width: 54px;
  height: 54px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instagram__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background: var(--bleu_c, #e4f1f0);
  margin-top: 60px;
}

.footer__container,
.copyright__content {
  max-width: 1197px;
  margin: auto;
}

.footer__content {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer__content > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__contact-us {
  align-items: flex-start;
  row-gap: 20px;
}

.footer__item__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer__linklist__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer__contact-us__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex: 1;
}

footer a:hover {
  text-decoration: underline;
}

.footer__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 23px;
  text-transform: capitalize;
}

.footer__content *:not(.footer__title) {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-gray, #444444);
}

.footer__contact-us .footer__contact-us__tel {
  font-family: Inter;
  font-weight: 800;
  font-size: 16px;
}

.footer__newsletter button[type="submit"] {
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  color: #ffffff;
  background: var(--baby_green, #65c4bc);
  transition: var(--transition-default);
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
  border: none;
}

.footer__newsletter button[type="submit"]:hover {
  opacity: 0.7;
}

.footer__newsletter input[type="email"] {
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: transparent;
  border: 0.5px solid #d8d8d8;
  outline: none;
}

.footer__newsletter form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
/* Copyright */
.copyright__content {
  display: flex;
  padding: 20px 0;
}

.copyright__content > * {
  flex: 1;
  display: flex;
  align-items: center;
}

.copyright__text p {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;

  text-transform: capitalize;
}

.copyright__logo {
  justify-content: center;
}

.copyright__logo img {
  width: 196px;
}

.copyright__payment-methods {
  justify-content: end;
}

.copyright__payment-methods img {
  width: 238px;
}

/* Back to Top button */
#back-to-top {
  border-radius: 50%;
  background: var(--baby_green, #65c4bc);
  position: fixed;
  bottom: 20px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 10;
  cursor: pointer;
  transition: var(--transition-default);
  transform: translateX(100%);
  opacity: 0;
}

#back-to-top.back-to-top--active {
  transform: none;
  opacity: 1;
  right: 20px;
}

#back-to-top:hover {
  opacity: 0.7;
}
